.container {
  height: 200px;
  position: relative;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 80px;
  font-weight: 300;
  /* transform: rotate(-15deg); */
}

.profile{
  border-radius: 5px;
  width: 50%;
  border-radius: 300px;
}
